@using WebApplication12.Models
@model SimpleViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InAWeek</title>
</head>
<body>
<h1>The date in one week will be @Model.DateInAWeek.ToLongDateString()</h1>
</body>
</html>
